html {
	font-family: Arial, Verdana, Sans-Serif;
	background: #002d56;
}
.header {
	margin: -.5% 0 0 3%;
	padding: 0;
	text-shadow: .5% #000000;
}
div.header h3 {
	color: #dddddd;
}
div.header a:link {
	color: #ffffff;
	text-decoration: none;
}
div.header a:hover {
	color: white;
    font-weight: bold;
	text-decoration: underline;
}
.main {
	margin: 1%;
	padding: 0;
	background: #343434;
}
.sidebar{
	float:left;
	margin: 1%;
	padding: 1%;
	width: 17%;
	background: #003b6f;
	color: white;
}
li {
   list-style: none;
}
.content {
	float: right;
	margin: 1%;
	padding: 1%;
	width: 75%;
	background: #003b6f;
	color: white;
}
.clear {
	clear: both;
}

/* START NAV MENU */
nav {
  background-color: #003b6f;
  height:40px;
}
.slogan {
  float: right;
  padding: .75%;
  color: white;
  width: 59%;
}
nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: block;
  position: relative;
  float: left;
 
}
nav li ul { 
  display: none; 
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #343434;
  color: #ffffff;  
  margin-left: 10px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:90px;
  text-align:center;
 
}
a: hover {

}
a: visited {

}
nav ul li a:hover { 
  background: #617F8A; 
}
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
nav li:hover li a:hover { 
  background: #95A9B1; 
}
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
/* END NAV MENU */